<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.willian.aula02">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/aaa"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/aaa"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ContinenteActivity" />
        <activity android:name=".PaisesActivity" />
        <activity android:name=".detalheActivity"></activity>



    </application>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <permission android:name="android.permission.FLASHLIGHT"
        android:permissionGroup="android.permission-group.HARDWARE_CONTROLS"
        android:protectionLevel="normal"
         />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />

</manifest>